body {
  font-family: sans-serif;
  max-width: 860px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.cal-dow-row,
.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.cal-dow-row {
  margin-bottom: 2px;
}

.cal-dow-row > div {
  text-align: center;
  font-weight: bold;
  padding: 0.25rem;
  background: #eee;
}

.cell {
  border: 1px solid #ccc;
  min-height: 70px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: #b3afaf;
}

.other-month {
  background-color: rgb(203, 246, 231);
}

.special-day {
  background-color: #f99b79;
}

.hidden {
  display: none;
}
